body {
  background-color: aliceblue;
  margin: 20px 20px 20px 20px;
  padding: 25px;
  width: 580px;
}

h1 {
  color: black;
  font-size: 25px;
  font-family: verdana;
  width: 600px;
  text-align: center;
}

h2 {
  color: black;
  font-size: 20px;
  font-family: verdana;
  width: 600px;
  text-align: center;
}

h3 {
  color: black;
  font-size: 15px;
  font-family: verdana;
  text-align: justify;
  width: 600px;
  background-color: white;
  padding: 20px;
}

p {
  color: black;
  font-family: verdana;
  font-size: 30px;
}

.total-points-calculation-button {
  border-radius: 2px;
  color: black;
  font-family: verdana;
  font-size: 15px;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}

.language_button {
  border-radius: 2px;
  color: black;
  font-family: verdana;
  font-size: 15px;
  padding: 10px;
  margin-right: 30px;
  margin-left: 100px;
  cursor: pointer;
}

.alert_kast {
  margin-left: 10px;
  margin-top: 20px;
  width: 580px;
  padding: 20px;
  background-color: white;
}

img {
  width: 420px;
  image-orientation: center;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: : 30px;
  background-color: white;
}